<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Iniciar Sesión</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Iniciar Sesión</button>
        </form>
        <p>¿No está registrado? <a href="{% url 'registro' %}" class="link-register">Regístrate aquí</a>.</p>
    </div>
</body>
</html>
